{% extends "base.html" %}

{% block content %}
    <h1>Страница ученика</h1>
    <h2>{{ student.name }} ({{ student.login }})</h2>
    <div>
        Дата регистрации: {{ student.created_date }}
    </div>
    {% if student.email %}
        <div>
            email: {{ student.email }}
        </div>
    {% endif %}
    {% if student.work %}
        <div>
            Место учёбы: {{ student.work }}
        </div>
    {% endif %}
    {% if student.work_address %}
        <div>
            Адрес учебного заведения: {{ student.work_address }}
        </div>
        <img src="/static/maps/students/{{ student.id }}/map.png" alt="Не удалось загрузить карту" style="height: 30vh; width: auto;">
    {% endif %}
    {% if student.about %}
        <div>
            О себе:<br>{{ student.about }}
        </div>
    {% endif %}
    {% for item in attempts %}
        <div class="col-md6 border rounded">
            <h2>Попытка {{ item.complete_time }}</h2>
            <div>
                Тест: {{ item.test.title }} (id {{ item.test.id }})
            </div>
            <a href="/attempt/{{ item.id }}/result" class="btn btn-warning">Перейти к результатам</a>
        </div>
    {% endfor %}
{% endblock %}