{% extends "base.html" %}

{% block content %}
    <h1>Ваши ученики</h1>
    {% for student in students %}
        <div class="col-md6 border rounded">
            <h2>{{ student.name }} ({{ student.login }})</h2>
            <div>
                Дата регистрации: {{ student.created_date }}
            </div>
            <div>
                Место учёбы: {{ student.work }}
            </div>
            <div>
                <a href="/students/{{ student.id }}" class="btn btn-warning">На страницу</a>
                <a href="/student_delete/{{ student.id }}" class="btn btn-danger">Удалить</a>
            </div>
        </div><br>
    {% endfor %}
{% endblock %}