{% extends "base.html" %}

{% block content %}
    <h1>Ваши учителя</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <h2>{{ form.teacher_login.label }}</h2><br>
            {{ form.teacher_login(class="form-control") }}<br>
            {% for error in form.teacher_login.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            {% if message %}
                <p class="alert alert-danger" role="alert">
                    {{ message }}
                </p>
            {% endif %}
        </p>
        <button
            type="submit"
            name="add"
            value="1"
            class="btn btn-success"
        >
            Добавить
        </button>
    </form><br>
    {% for teacher in teachers %}
        <div class="col-md6 border rounded">
            <h2>{{ teacher.name }} ({{ teacher.login }})</h2>
            <div>
                Дата регистрации: {{ teacher.created_date }}
            </div>
            <div>
                Место работы: {{ teacher.work }}
            </div>
            <div>
                <a href="/teachers/{{ teacher.id }}" class="btn btn-warning">На страницу</a>
                <a href="/teacher_delete/{{ teacher.id }}" class="btn btn-danger">Удалить</a>
            </div>
        </div><br>
    {% endfor %}
{% endblock %}